.container-fluid {
    padding: 0px !important;
}

.container-fluid.topbar {
    background: black;
    color: white;
}

.container-fluid.orangebg {
    height: 245px;
    background: url(https://www.itec.hcmus.edu.vn/vn/templates/201205_itec/images/itec/header_bg.png);
}

nav.navbar {
    background: none !important;
    color: white;
}

nav.navbar a {
    color: white !important;
}

.container.banner {
    margin-top: -142px;
}

.container.banner img {
    width: 100%;
}

img {
    max-width: 100%;
}


.sidebar-img p {
    background: gray;
    padding: 5px 0 10px 10px;
    color: white;
    border-top: 3px solid orange;
}

.col-md-5 img {
    object-fit: contain;
    height: 100%;
}
